body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
:root{
    --secondary-extra-light-orange: #FFE6C7;
    --primary-light-orange: #FFA559;
    --primary-orange: #FF6000;
    --primary-black: #000000;
    --secondary-black: #1A1C20;
    --mixed-secondary-blue: #222831;
    --poppins: "Poppins", sans-serif;
    --hand-writing-elegant-font: ;
    --default-font-size: 18px;
    --font-weight1: 700;
    --font-weight2: 600;
    --font-weight3: 500;
}
a{
    font-family: var(--poppins);
    font-weight: var(--font-weight3);
    display: block;
    text-decoration: none;
    color: black;
    font-size: var(--default-font-size);
}
a:hover{
    color: var(--primary-light-orange);
}

.nav_container {
margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

h1,h2 {
    margin-bottom: 15px;
    font-weight: 600;
}

p 
{
    margin-bottom: 15px;
}

.tag {
    font-size: center;
    margin-left: 60px;
}

.about {
    text-align: center;
    margin-bottom: 60px;
}

.intro,.why {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
align-items: center;
margin-bottom: 60px;
}

.why-text strong {
    margin-bottom: 20px;
    font-size: 15px;
}
.why-text ul {
    list-style: none;
}
.why-text li {
    margin-bottom: 20px;
    font-size: 15px;

}

.footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--secondary-extra-light-orange);
}

.footer_container{
    padding: 40px 0;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.footer_container div:first-child span{
    font-size:  40px;
    color: var(--primary-light-orange);
}
.footer_container div:last-child a{
    font-size: 30px;
    color: var(--mixed-secondary-blue);
    font-weight: var(--font-weight3);
}

@media(max-width: 768px) {
    .intro, .why {
        grid-template-columns: 1fr;
    }
}