*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation_bar{
    top: 0;
    position: relative;
}
a{
    font-family: var(--poppins);
    font-weight: var(--font-weight3);
    display: block;
    text-decoration: none;
    color: black;
    font-size: var(--default-font-size);
}
a:hover{
    color: var(--primary-light-orange);
}
.nav_container{
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 50px;
}
.logo img{
        width: 60px;
        aspect-ratio: 1;
    }
